{% assign leadership = site.data.content.leadership %}
<div class="site-section border-bottom" id="team-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h3 class="section-sub-title">{{ leadership.subtitle }}</h3>
                <h2 class="section-title mb-3">{{ leadership.title }}</h2>
            </div>
        </div>
        <div class="row">
            {% for member in site.data.content.leadership.members %}
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                <div class="person text-center">
                    <img src="{{ member.photo }}" alt="Image" class="img-fluid rounded w-75 mb-3">
                    <h3>{{ member.name }}</h3>
                    <p class="position text-muted">{{ member.position }}</p>
                    <p class="mb-4">{{ member.bio }}</p>
                    <ul class="ul-social-circle">
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>