<div class="top-bar py-3 bg-light" id="home-section">
    <div class="container">
        <div class="row align-items-center">
        
        <div class="col-6 text-left">
            <ul class="social-media">
            <li><a href="#" class=""><span class="icon-facebook"></span></a></li>
            <li><a href="#" class=""><span class="icon-twitter"></span></a></li>
            <li><a href="#" class=""><span class="icon-instagram"></span></a></li>
            <li><a href="#" class=""><span class="icon-linkedin"></span></a></li>
            </ul>
        </div>
        <div class="col-6">
            <p class="mb-0 float-right">
            <span class="mr-3"><a href="tel://#"> <span class="icon-phone mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black">(+1) 234 5678 9101</span></a></span>
            <span><a href="#"><span class="icon-envelope mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black">shop@yourdomain.com</span></a></span>
            </p>
            
        </div>
        </div>
    </div> 
</div>